body {
  background-color: var(--color-background);
  margin: 0;
  overflow: hidden;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 12px;
  height: calc(100vh - 24px);
  overflow: auto;
  color: var(--color-text-primary);
  font-size: 14px;
  font-weight: 500;
}

.listItem {
  padding: 12px 14px;
  border: 1px solid var(--color-border);
  border-radius: var(--radius-small);
  background-color: var(--color-surface);
}

.listItem .timeWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0 5px;
  align-items: center;
  padding: 10px 0;
}

.listItem .timeWrapper span {
  min-width: fit-content;
}

.listItem .timeWrapper span.half {
  font-weight: 400;
  color: var(--color-text-primary-half);
}

.listItem .reportsWrapper {
  margin: 5px 0 10px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.listItem .reportsWrapper button {
  flex: 1 1 0;
  min-width: fit-content;
  border-radius: 3px;
}

.listItem .reportsTitle {
  border-top: 1px solid var(--color-border);
  padding-top: 10px;
  color: var(--color-accent-secondary);
  font-family: var(--font-family-mono);
  letter-spacing: 0.6px;
  text-transform: uppercase;
}
